<div class="login panel panel-default">
  <div class="panel-body">
    <form>
      <input class='form-control' type="Text" placeholder="Username" required autofocus ng-model="username">
      <input class='form-control' type="password" placeholder="Password" required ng-model="password">
      <button ng-click="login()" class="btn btn-primary btn-large btn-block">Login <i class="fa fa-sign-in"></i></button>
      <button ng-click="register()" class="btn btn-green btn-large btn-block">Register <i class="fa fa-pencil-square-o"></i></button>
    </form>
  </div>
</div>
